extends layout

block content
  h1
    | Tumblr bulk post privatizer
  h2
    | A less drastic alternative to deleting your account
  h3
    a(href='auth/tumblr') login via 
      img(src='images/tumblr_logotype_white_blue_32.png' alt='tumblr')
